OPENAI_API_KEY=sk-e70b4d164cdf49c0a51c77f6057cbc3f
OPENAI_API_BASE=https://api.deepseek.com
MODEL_NAME=deepseek-chat
DATABASE_URL=jdbc:postgresql://ep-rough-sunset-a1nlgpmf-pooler.ap-southeast-1.aws.neon.tech/neondb?user=neondb_owner&password=npg_2JNHgRcLbyk1&sslmode=require&channelBinding=require
PORT=8000
HOST=0.0.0.0
